# Ignore Play! working directory #
.idea*
.bsp*
logs
project/project
project/target
project/.bloop/
target
tmp
.history
dist
*.iml
.classpath
.project
.settings
.DS_Store
d
*.rdb
build-no.txt
jmeter.log
cucumber/node_modules/
cucumber/.env
cucumber/package-lock.json
cucumber/npm-debug.log
.bloop/
.metals/
codacy-results/
sicp/.idea
rtjvm/beginners/.bsp/sbt.json
